html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue;
  font-size: 9pt;
}

img {
  display: block;
  float: left;
  margin: 3px;
}

#content {
  width: 100%;
  height: 100%;
  overflow: none;
}
